/* Typography */

//Font import
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans&display=swap');

//Font variables
$heading: 'Fjalla One', 'sans serif';
$body-text: 'Open Sans', 'sans serif';


body {
  font-family: $body-text;
  text-align: left;
  color: darken($darkest-color, 25%);
}

h1 {
  @extend %h;
  font-size: 4em;
  color: $accent-color1;
  text-align: center;
}

h2 {
  @extend %h;
  font-size: 2em;
  color: $primary-color;
}

h3 {
  @extend %h;
  font-size: 1.6em;
  color: lighten($primary-color, 10%);
}

a {
  color: $accent-color2;
  text-decoration: none;
}

nav {
  text-align: center;
}

//Layout phone
@media #{$break-phone} {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
}
